@font-face {
    font-family: "inter-italic";
    src: url("/assets/fonts/inter/Inter-Italic-VariableFont_opsz\,wght.ttf") format("ttf");
    font-weight: 400;
    font-style: italic;
  }
  
  @font-face {
    font-family: "inter";
    src: url("/assets/fonts/inter/Inter-VariableFont_opsz\,wght.ttf") format("ttf");
    font-weight: 400;
    font-style: normal;
  }

@font-face {
    font-family: "noto-serif-italic";
    src: url("/assets/fonts/noto-serif/NotoSerif-Italic-VariableFont_wdth\,wght.ttf") format("ttf");
    font-weight: 400;
    font-style: italic;
  }
  
  @font-face {
    font-family: "noto-serif";
    src: url("/assets/fonts/noto-serif/NotoSerif-VariableFont_wdth\,wght.ttf") format("ttf");
    font-weight: 400;
    font-style: normal;
  }

@font-face {
    font-family: "source-code-pro-italic";
    src: url("/assets/fonts/source-code-pro/SourceCodePro-Italic-VariableFont_wght.ttf") format("ttf");
    font-weight: 400;
    font-style: italic;
  }
  
  @font-face {
    font-family: "source-code-pro";
    src: url("/assets/fonts/source-code-pro/SourceCodePro-VariableFont_wght.ttf") format("ttf");
    font-weight: 400;
    font-style: normal;
  }